* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    position: relative;
}

.App {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .75rem;
}

img {
    max-width: 100%;
}

figcaption {
    font-size: 1.5rem;
}

.description {
    width: 60%;
}

.buttons--container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}